In [4]:
import pandas as pd
import numpy as np
import os

In [5]:
files = [file for file in os.listdir('C:/datasets/Market_data')]

all_months_data = pd.DataFrame()

for file in files:
    df = pd.read_csv('C:/datasets/Market_data/' + file)
    all_months_data = pd.concat([all_months_data, df])

In [6]:
all_months_data = all_months_data.dropna(how = 'all')
df = all_months_data

In [8]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [68]:
df.to_csv('market_analysis_30_05.csv', index = False)

In [48]:
df = df[df["Quantity Ordered"].str[0] != "Q"]

In [49]:
df["Quantity Ordered"] = pd.to_numeric(df["Quantity Ordered"])
df["Price Each"] = pd.to_numeric(df["Price Each"])

<ipython-input-49-d44b488cea25>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Quantity Ordered"] = pd.to_numeric(df["Quantity Ordered"])
<ipython-input-49-d44b488cea25>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Price Each"] = pd.to_numeric(df["Price Each"])

In [66]:
df["Amount"] = df["Quantity Ordered"] * df["Price Each"]

In [51]:
cities = ["Delhi", "Mumbai", "Bengaluru", "Hyderabad", "Kolkata", "Chennai", "Pune", "Kochi", "Gurugram", "Lucknow", "Jaipur", "Ahmedabad"]

In [52]:
import random

In [53]:
city_list = []
for i in range(len(df)):
    index = random.randint(0,len(cities) - 1)
    city_list.append(cities[index])

In [54]:
df["City"] = city_list

<ipython-input-54-2c4607af8eec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["City"] = city_list

In [55]:
df["City"].value_counts()

Kolkata      15743
Lucknow      15582
Bengaluru    15573
Pune         15566
Kochi        15544
Jaipur       15522
Gurugram     15506
Mumbai       15486
Hyderabad    15444
Delhi        15394
Ahmedabad    15300
Chennai      15290
Name: City, dtype: int64

In [56]:
df["Product"].value_counts()

USB-C Charging Cable          21903
Lightning Charging Cable      21658
AAA Batteries (4-pack)        20641
AA Batteries (4-pack)         20577
Wired Headphones              18882
Apple Airpods Headphones      15549
Bose SoundSport Headphones    13325
27in FHD Monitor               7507
iPhone                         6842
27in 4K Gaming Monitor         6230
34in Ultrawide Monitor         6181
Google Phone                   5525
Flatscreen TV                  4800
Macbook Pro Laptop             4724
ThinkPad Laptop                4128
20in Monitor                   4101
Vareebadd Phone                2065
LG Washing Machine              666
LG Dryer                        646
Name: Product, dtype: int64

In [57]:
prod_list = df["Product"].tolist()
for i in range(len(df)):
    if prod_list[i] == "Google Phone":
        prod_list[i] = "Pixel 4A"
    elif prod_list[i] == "Vareebadd Phone":
        prod_list[i] = "Micromax Canvas 2"

In [58]:
df["Product"] = prod_list

<ipython-input-58-ffe50b78477b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Product"] = prod_list

In [59]:
df = df.drop(["Purchase Address"], axis = 1)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 11685
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  object
 5   Amount            185950 non-null  float64
 6   City              185950 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 11.3+ MB

In [61]:
df["Price Each"] = df["Price Each"] * 72.39
df["Price Each"] = df["Price Each"].round(decimals = 0)

In [63]:
df["Amount"] = df["Amount"] * 72.39
df["Amount"] = df["Amount"].round(decimals = 0)